[submodule "thirdParty/googletest"]
	path = thirdParty/googletest
	url = https://github.com/google/googletest.git
[submodule "thirdParty/libyaml"]
	path = thirdParty/libyaml
	url = https://github.com/yaml/libyaml.git
[submodule "thirdParty/gsl"]
	path = thirdParty/gsl
	url = https://github.com/ampl/gsl
[submodule "thirdParty/vxl"]
	path = thirdParty/vxl
	url = https://github.com/vxl/vxl
