[submodule "thirdParty/googletest"]
	path = thirdParty/googletest
	url = https://github.com/google/googletest.git
[submodule "thirdParty/libyaml"]
	path = thirdParty/libyaml
	url = https://github.com/yaml/libyaml.git
[submodule "thirdParty/yamlmatlab"]
	path = thirdParty/yamlmatlab
	url = https://github.com/ewiger/yamlmatlab.git
[submodule "thirdParty/lmfit"]
	path = thirdParty/lmfit
	url = https://jugit.fz-juelich.de/mlz/lmfit
